# Ambiente/segredos
venv/
.env/

# Cache do Python
__pycache__/
*.py[cod]

# Build/dist
build/
dist/
*.egg-info/

# Configs de editor
.vscode/
.idea/

# >>> Manter a estrutura de output <<<
output/**
!output/
!output/.gitkeep
!output/csv
!output/csv/.gitkeep
!output/graph/
!output/graph/.gitkeep
!output/report/
!output/report/.gitkeep

# >>> Arquivos gerados em QUALQUER pasta (CSV/PNG/PDF) <<<
*.csv
*.png
*.pdf

# ÚNICA exceção: dataset base
!data/sales.csv

# Lixo de SO
.DS_Store
Thumbs.db
